@import 'abstracts/variables';

.games-store {
  display: flex;
}

.games-list {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  margin-right: 15px;
  flex-direction: column;

  &__header {
    flex: 1;
    flex-wrap: wrap;
    display: flex;

    &--title {
      font-size: 48px;
      font-weight: 500;
      color: $black-title;
      flex: 1;
      
    }
  
    &--ordination {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      align-items: center;
  
      select {
        width: 262px;
        height: 40px;
      }
    }
  }

  &__cards {
    margin-top: 50px;
  }
}

.cart {
  flex-basis: 262px;
}