<div class="games-store">
  <div class="games-list">
    <div class="games-list__header">
      <div class="games-list__header--title">
        Games
      </div>
  
      <div class="games-list__header--ordination">
        <select [formControl]="gameListOrder">
          <option [value]="enumGameListOrder.HIGHEST_SCORE">
            Mais populares
          </option>
          <option [value]="enumGameListOrder.LOWEST_PRICE">
            Mais baratos
          </option>
          <option [value]="enumGameListOrder.ALPHABETICAL">
            Ordem alfabética
          </option>
        </select>      
      </div>
    </div>

    <div class="games-list__cards">
      <app-games-list [listGames]="listGames">
      </app-games-list>
    </div>
  </div>

  <div class="cart">
      carrinho
  </div>
</div>
