@import 'abstracts/variables';

.games-store {
  display: flex;

  &__cart {
    flex-basis: 262px;
  }
}

.games-list {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  margin-right: 20px;
  flex-direction: column;

  &__header {
    flex: 1;
    flex-wrap: wrap;
    display: flex;

    &--title {
      font-size: 48px;
      font-weight: 500;
      color: $black-title;
      flex: 1;
      
    }
  
    &--ordination {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      align-items: center;
  
      select {
        font-size: 14px;
        width: 262px;
        height: 40px;
        padding: 10px 18px 10px 18px;
      }
    }
  }

  &__cards {
    margin-top: 50px;
  }
}